<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
xmlns:gap = "http://phonegap.com/ns/1.0"
id = ”fi.metropolia.ravid"
versionCode=”2"
version = ”2.0.0">
<name>lab1</name>
<description>
my first app
</description>
<author href="http://users.metropolia.fi/~ravid" email=”devika.ravi@metropolia.fi">
Devika Ravi
</author>
<icon src="icon.png" />
</widget>
